/* cores **** */
/* 
	#000000
	#03045E
	#023E8A
	#0077B6 // bacground
	#0096C7
	#00B4D8
	#48CAE4
	#90E0EF
	#ADE8F4
	#CAF0F8
	#ffffff
*/
* {
	font-family: 'Montserrat', sans-serif;
	padding: 0;
	margin: 0;
	text-decoration: none;
	color:#03045E;
}
body{
	background: #0077B6;
	max-width: 100vw;
}

a {
	text-decoration: underline;
	cursor: pointer;
}

/* estilizando inputs */

input {
	padding: 0 10px;
	border: 2px solid #0096C7 ;
	border-radius: 10px;
	height: 32px;
	margin: 5px 0;
	transition: 0.5s ease-in-out;
}
input:focus {
	border: 2px solid #0096C7 ;
	border-radius: 10px;
	box-shadow: #48CAE4 0px 4px 5px, #48CAE4 0px 3px 3px;
	outline: none;
}

/* estilizando botoes */
button {
	height: 36px;
	border: 2px solid #0096C7;
	border-radius: 10px;
	font-weight: bold;
	margin: 10px 0;
	padding: 8px;
	background-color: #ffffff;
}

button:hover {
	border: 2px solid #023E8A;
	font-weight: bold;
	background-color: #ADE8F4;
	transition: 0.2s ease-in-out;
}
/* header configuração */
header {
	background-color: #03045E;
	width: 100vw;
	height: 60px;
}

.logout{
	margin-right: 30px;
	float: right;
	padding-right:10px;
}

.titulo {
	float: left;
	padding:10px;
	z-index: 3;
}
.titulo h2 {
	color: #ffffff;

}

/* container principal */
.container {
	width: 100%;
	height: 100vh;
}
/* area do login */
#card-login {
	height: 100%;
	margin: 0 auto;
	max-width: 700px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
}

.card-items {
	width: 100%;
	margin-top: 10px;
	text-align: center;
}

/* area principal */

main {
	padding: 30px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

/* adcionar todo */

#adcionar-todo {
	clear: both;
	display: flex;
	align-items:flex-end ;
	justify-content: center;
	width: 100vw;
}

#adcionar-todo button {
	margin: 5px;
}
.todos {
	width: 80vw;
	border:2px solid #03045E ;
	border-radius: 10px;
	margin: 10px 0;
	padding: 10px;
	display: flex;
	justify-content: space-around;
}

.todo-text {
	width: 70%;
}